@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
#al{

   color: green;
   text-align: center;
   font-size: 2.4rem

    
}

p{
    background-color: greenyellow;
    
    height: 81px;
     margin-left: -8px;
     width:101%;
    
     text-align: center;
     font-size: x-large;
     color: black;
    
     
}
div{
    background-color: black;
    width:300px ;
    height: 600px;
    border-radius: 38px;
    float: left;
    margin-left: 55px;
    box-shadow: 5px 5px lawngreen;
}
img{
    width: 100%;
    height: 300px;
    margin-top: 0px;
    border-radius: 37px;
    
}
h2{
    color: greenyellow;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
    
    
}
button{
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 32px;
    width: 272px;
    height: 67px;
    

}
#cc{
    margin-top: 54px;
}
button:hover{
    background-color: white;
    color: green;
}
h1{
    color: white;
    text-align: center;
    font-size: xx-large;
}